<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletDispatcher</servlet-name>
        <servlet-class>bll.servletDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletInsertar</servlet-name>
        <servlet-class>bll.servletInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletBorrar</servlet-name>
        <servlet-class>bll.servletBorrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletMostrar</servlet-name>
        <servlet-class>bll.servletMostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletListar</servlet-name>
        <servlet-class>bll.servletListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletModificar</servlet-name>
        <servlet-class>bll.servletModificar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletDispatcher</servlet-name>
        <url-pattern>/servletDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletInsertar</servlet-name>
        <url-pattern>/servletInsertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletBorrar</servlet-name>
        <url-pattern>/servletBorrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletMostrar</servlet-name>
        <url-pattern>/servletMostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletListar</servlet-name>
        <url-pattern>/servletListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletModificar</servlet-name>
        <url-pattern>/servletModificar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
